body{
  font-family: arial,sans-serif;
}

.hidden {
  position: relative;
  left: -10000px;
  top: auto;
}

.hidden:focus {
  left: 0;
}

.sr-only {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

a {
  text-decoration: none;
  color: white;
}
main {
  margin: 3rem;
}
p {
  color: #444444;
  padding: .5rem;
}

h2{
  color:  #03a3df;
  padding: .5rem;
}

h3{
  color: #1b447f;
  padding: .5rem;
}

header {
 background-color: #03a3df;
 padding: 30px;

}

nav {
  display: flex;
 flex-flow: row wrap;
 justify-content: flex-end;

}

nav a {
  text-decoration: none;
  display: block;
  padding: 1em;
  color: white;
  margin: 3rem;
  padding: 1rem;
}

nav a:hover {
  background: #1b447f;
}

aside {
 display: flex;
 flex-flow: column;

}

.instructors {
  display: block;
  text-align: center;
}
.about {
  display: grid;
  text-align: center;
}

video {
  display: block;
   margin-left: auto;
   margin-right: auto;

}

.sidebar img {
  width: 70%;
}

.grid {
  display: grid;
  justify-content: center;
}


header, footer {
  grid-column: 1 / 4;
}


footer {
  background-image: url("/images/footerImage.jpg");
  padding: 50px;
}

footer > p{
  color: white;
}

.Nondiscriminatory, .copyright {
  padding: 1rem;
  width: 60%;
  font-style: italic;

}

footer > nav {
  padding-top: 1em;
}
